<div class="container-fluid main-content">
    <div class="stash-metadata row">
        <div class="col col-sm-5 col-xs-10">
            <h2 class="title-text">Title</h2>
            <input class="input-box borderless-input" ng-model="vm.stash.title" type="text" />
        </div>
        <div class="col col-sm-7 col-xs-2">
            <h2 class="title-text">Tags</h2>
            <input class="input-box borderless-input hidden-xs" ng-model="vm.stash.tags" type="text" />
            <a href class="glyphicon visible-xs-inline-block glyphicon-tag inline-tag" title="Tag" ng-click="vm.showTagPrompt()"></a>
        </div>
    </div>

    <div class="stash-editor row">
        <div class="col-sm-6 editor-pane" ng-show="!vm.isActive('preview')">
            <div class="editor" code-editor="vm.options" ng-model="vm.stash.content" ng-model-options="{ debounce: 100 }"></div>
            <form class="action-bar">
                <fieldset ng-disabled="vm.saving">
                    <button class="btn btn-sm btn-success pull-right" ng-click="vm.save()">Save Stash</button>
                    <button class="btn btn-sm btn-default pull-right" ng-click="vm.toggle('preview')">Preview</button>
                </fieldset>
            </form>
        </div>
        <div class="col-sm-6 preview-pane">
            <div class="markdown" ng-bind-html="vm.stash.content | markdown"></div>
        </div>
    </div>
</div>


