<div class="dialog-container-fluid">
    <div class="row">
        <div class="col-md-4 col-sm-8 col-md-offset-4 col-sm-offset-2">
            <form class="dialog">
                <h2 class="title-text">Tags</h2>
                <div class="form-group">
                    <input class="input-box borderless-input" type="text" ng-model="tags" ng-model-options="{ debounce: 200 }" tag-editor />
                </div>
                <div class="form-actions">
                    <button class="btn btn-sm btn-danger pull-left" ng-click="cancel()">Cancel</button>
                    <button class="btn btn-sm btn-success pull-right" ng-click="confirm()">Save</button>
                </div>
            </form>
        </div>
    </div>
</div>