$metadata-rowheight: 70px;
$actionbar-rowheight: 60px;

body {
    overflow: hidden;   
}

[ng-cloak], .ng-cloak {
    display: none;
}

.preview-pane {
    padding: 15px;   
    overflow: auto;
    height: 100%;
}

.stash-frame-container {
    border-left: 1px solid #e8e8e8;
    border-right: 1px solid #e8e8e8;
    height: 100%;
    padding: 0;
}

.fixed-stash-container {
    position: absolute;
    top: 51px;
    bottom: 0;
    width: 100%;
}

.stash-editor {
    width: 100%;
    position: absolute;
    top: $metadata-rowheight; bottom: 0;
    left: 0; right: 0;
    margin: 0;

    .editor-pane {
        padding: 0 !important;           
        .editor { height: 100%; }

        .CodeMirror {
            min-height: 100%;   
            height: 100%;
            font-size: 12px;
        }

        .CodeMirror-scroll {
            overflow: auto;   
        }
    }

    .preview-pane, .editor-pane {
        height: calc(100% - #{$actionbar-rowheight}) !important;
    }

    .action-bar {
        height: $actionbar-rowheight;
        padding: 15px;
        border-top: 1px solid #e8e8e8;

        .btn + .btn { margin-right: 10px }
    }
}

.markdown {
    .markdown-header {
        text-align: center;
        margin: 0px 20px;
        padding-bottom: 15px;
        border-bottom: 1px dashed #ccc;
        position: relative;

        .title { margin-top: 10px; }
        .edit-link { 
            position: absolute;
            top: 5px;
            right: 0px;
        }
    }

    .markdown-content {
        color: #333;
        font-family: "Helvetica Neue","Segoe UI",Helvetica,Arial,sans-serif !important;
        padding: 10px;
        
        pre { color: inherit !important; }
        img { max-width: 100%; } 
        h1, h2, h3, h4, h5, h6 { font-weight: bold; }
        
        >*:first-child { margin-top: 0 !important; }
    }
}

.title-text {
    text-transform: uppercase;
    margin: 0 0 4px 0;
    color: #a0aabf;
    font-weight: 500;
    font-size: 11px;
}

.stash-metadata {
    border-bottom: 1px solid #E8E8E8;
    // border-top: 1px solid black;
    height: $metadata-rowheight;

    .col {
        height: 100%;
        padding: 15px;
    }

    .inline-tag {
        padding: 5px;
        width: 100%;
        color: inherit;
    }
}

.stash-summary {
    border-top: 1px solid #e8e8e8;
    padding: 10px;

    .summary-title {
        margin-top: 0;
    }

    &:last-child {
        border-bottom: 1px solid #e8e8e8;
    }
}